In [2]:
import pandas as pd

df = pd.read_csv("olympics_08_medalists.csv")
df.head(15)

,medalist_name,male_archery,female_archery,male_athletics,female_athletics,male_badminton,female_badminton,male_baseball,male_basketball,female_basketball,...,female_beach volleyball,male_volleyball,female_volleyball,male_water polo,female_water polo,male_weightlifting,female_weightlifting,male_freestyle wrestling,female_freestyle wrestling,male_greco-roman wrestling
0,Aaron Armstrong,NaN,NaN,gold,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron Peirsol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abdullo Tangriev,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abeer Abdelrahman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,bronze,NaN,NaN,NaN
4,Abhinav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Acer Nethercott,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Adam Korol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Adam Kreek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Adam Pine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Adam Wheeler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bronze
10,Adam Wiercioch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Adam Wright,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,silver,NaN,NaN,NaN,NaN,NaN,NaN
12,Adam van Koeverden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Adiel Palma,NaN,NaN,NaN,NaN,NaN,NaN,silver,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Agnes Osazuwa,NaN,NaN,NaN,silver,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_melted = df.melt(id_vars=['medalist_name'], 
                    var_name='sport', 
                    value_name='medal')

df_melted = df_melted.dropna()

df_melted = df_melted.str.split(pat = , expand = True )

df_melted.head(20)

        medalist_name           sport   medal
177      Bair Badënov    male_archery  bronze
676     Ilario Di Buò    male_archery  silver
682      Im Dong-hyun    male_archery    gold
760         Jiang Lin    male_archery  bronze
920    Lee Chang-hwan    male_archery    gold
950        Li Wenquan    male_archery  bronze
1043   Marco Galiazzo    male_archery  silver
1107    Mauro Nespoli    male_archery  silver
1314    Park Kyung-mo    male_archery  silver
1710     Viktor Ruban    male_archery    gold
1768      Xue Haifeng    male_archery  bronze
2124  Bérengère Schuh  female_archery  bronze
2160        Chen Ling  female_archery  silver
2472          Guo Dan  female_archery  silver
2656    Joo Hyun-Jung  female_archery    gold
3191   Park Sung-hyun  female_archery  silver
3424  Sophie Dodemont  female_archery  bronze
3595  Virginie Arnold  female_archery  bronze
3696       Yun Ok-hee  female_archery  bronze
3705   Zhang Juanjuan  female_archery    gold